<%
var title = 'Lower Page | Laravel Mix Boilerplate for Static Site'
%>

<%- include('/partials/header', { title }) -%>

<div class="js-target">
  <h1><%= title %></h1>
  <ul>
    <li class="gif">
      <img src="<%= mix('/assets/images/sample.gif') %>" alt="SAMPLE.GIF">
    </li>
    <li class="jpeg">
      <img src="<%= mix('/assets/images/sample.jpeg') %>" alt="SAMPLE.JPEG">
    </li>
    <li class="jpg">
      <img src="<%= mix('/assets/images/sample.jpg') %>" alt="SAMPLE.JPG">
    </li>
    <li class="png">
      <img src="<%= mix('/assets/images/sample.png') %>" alt="SAMPLE.PNG">
    </li>
    <li class="svg-a">
      <svg>
        <title>SAMPLE-A.SVG</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-sample-a') %>"></use>
      </svg>
    </li>
    <li class="svg-b">
      <svg>
        <title>SAMPLE-B.SVG</title>
        <use xlink:href="<%= svgSprite('/assets/svg/sprite.svg', '#sprite-sample-b') %>"></use>
      </svg>
    </li>
  </ul>
</div>

<%- include('/partials/footer') -%>
